.d2coding {
  font-family: D2Coding, 'D2 coding', monospace
}

.purple-color {
  color: #c678dd;
}

.red-color {
  color: #e06c75;
}

.orange-color {
  color: #d19a66;
}

.green-color {
  color: #98c379;
}