.section {
  width: calc(100% - 280px);
  padding: 10px;
  color: #abb2bf;
  container-type: inline-size;
  container-name: main;

  @container main (max-width: 1280px) {
    .text {
      font-size: 1rem;
    }
  }
  @container main (max-width: 990px) {
    .text {
      font-size: .875rem;
    }
  }
}

.text {
  font-size: 1.25rem;
}

.text-indent {
  text-indent: -20px;
  margin-left: 40px;
}